//layout navigation
.navbar{
  padding: 0;
  &__img-small{
    width: 5em;
  }
  &-brand{
    padding: 1.5rem;
    background-color: $colors-smokyblack;
  }
  &-brand h5{
    color: $colors-white;
    text-transform: uppercase;
    @include rotate-up;
  }
  &-toggler-icon{
    color: $colors-smokyblack;
  }
}
.nav-link{
  font-size: $font-size-large;
  font-weight: bolder !important;
  color: $colors-smokyblack !important;
  &.nav-link.active{
    color: $colors-granitegray !important;
    &:hover{
      color:$colors-quicksilver !important;
    }
  }
}
